{{ define "main" -}}
	{{ if and (isset .Params "featureimage") (not (eq .Params.featureimage "")) -}}
	<article class="feature-image">
		<header style="background-image: url('{{ .Site.BaseURL }}{{ .Params.featureimage }}')">
			<h1 class="title">{{ .Title }}</h1>
		</header>
	{{- else -}}
	<article>
		<header>
			<h1 class="title">{{ .Title }}</h1>
		</header>
	{{- end }}

						<div id="eventi-pagina">
						<h3>Calendario eventi - <span id="mese-eventi"></span></h3>
						<div class="btn-group">
							<button class="btn btn-primary" data-calendar-nav="prev"><< Prec.</button>
							<button class="btn btn-default" data-calendar-nav="today">Attuale</button>
							<button class="btn btn-primary" data-calendar-nav="next">Succ. >></button>
						</div>
						<div id="calendario-eventi"></div>
					</div>
  <script type="text/javascript">
            var calendar = $("#calendario-eventi").calendar(
            {
                tmpl_path: "/tmpls/",
                events_source: "{{ $.Site.BaseURL }}data/eventi.json",
                view: 'month',
		language: 'it-IT',
		weekbox: false,
		onAfterViewLoad: function(view) {
			$('#mese-eventi').text(this.getTitle());
		}
            });

	$('.btn-group button[data-calendar-nav]').each(function() {
		var $this = $(this);
		$this.click(function() {
			calendar.navigate($this.data('calendar-nav'));
		});
	});
	calendar.navigate("today");
  </script>
{{- end }}



