body {
    font-size: 1.8em;
}

.cal-cell1 {
    font-size: 0.7em;
}

#flex-container {
	    display: flex; 
}

#notizie {
    	flex-grow: 1;
}

#eventi {
    	flex-grow: 0;
    	min-width: 500px;
    	margin-right: 100px;
    	border-left: 1px solid rgba(0, 0, 0, 0.1);
    	text-align: center;	
	padding-left: 50px;
}

#eventi-pagina {
    text-align: center;
}

.call-out {
	height: 140px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFFFF;
}

.site-header .avatar {
	height: 5em;
	width: 5em;
}

.site-header .site-title {
	font-size: 2em;
	margin-top: 20px;
}

.site-nav {
	margin-top: 25px;
	font-size: 24px;
}

@media all and (max-width: 1050px) {
    	#eventi {
        	display: none;
    	}
}

.navbar-nav {
	margin: 7.5px -15px;	
}

@media all and (min-width: 768px) {
	.navbar-nav {
		bottom: 0px;
		position: absolute;
		right: 10px;
	}
}

@media all and (min-width: 680px) {
	.call-out {
		height: 350px;
	}
}

@media all and (min-width: 1900px) {
	.call-out {
		height: 550px;
	}
}

.navbar-nav > li {
	font-size: 1.3em;
}

.navbar-brand {
	font-size: 36px;
}

#brand-text {
	vertical-align: middle;
}

.navbar-toggle {
	margin-top: 20px;
}

.content > .posts {
	margin-top: 30px;
}

article {
	margin-top: 30px;
}

p {
	text-align: justify;
}

ul {
	list-style-position: unset;
}

img.article-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.lista-contatti {
	font-size: 24px;
}

.lista-contatti > li {
	text-align: center;
}

@media all and (max-width: 1000px) {
    	#brand-text {
        	font-size: 0.6em;
    	}
	.navbar-nav > li {
	    font-size: 1.0em;
	}
	
	.cal-month-box .cal-day-today span[data-cal-date] {
		font-size: 1.2em;
	}
}

.content {
	display: flex;
	position: relative;
	top: 70px;
	flex-flow: column;
}

.site-footer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.site-footer > p {
    text-align: center;
}

.section-title {
	text-align: center;
}

.galleries {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

figcaption {
	text-align: center;
}
