	{{ partial "head_calendar.html" . }}
	<body>
		{{ partial "nav.html" . }}

		<div class="content">
			<div class="home">

				{{ if .Site.Params.headerText }}
				<div class="call-out" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Site.Params.headerImage }}')">
					{{ .Site.Params.headerText | markdownify }}
				</div>
				{{ end }}

				<div id="flex-container">
					<div id="notizie">
						{{ partial "post-list.html" . }}
						{{ partial "pagination.html" . }}
					</div>
					<div id="eventi">
						<h3>Calendario eventi - <span id="mese-eventi"></span></h3>
						<div class="btn-group">
							<button class="btn btn-primary" data-calendar-nav="prev"><< Prec.</button>
							<button class="btn btn-default" data-calendar-nav="today">Attuale</button>
							<button class="btn btn-primary" data-calendar-nav="next">Succ. >></button>
						</div>
						<div id="calendario-eventi"></div>
					</div>
				</div>

				{{ partial "footer.html" . }}

			</div>
		</div>
	</body>
</html>
